@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  border-radius: 2rem;
}

.cel-inputs,
.przebieg-inputs,
.wnioski-inputs {
  color: #999;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #ffd687;
  height: 100vh;
}

.heading-primary {
  padding-top: 2rem;
  text-align: center;
  color: #3f8a7f;
}
.question-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cel-input,
.przebieg-input,
.wnioski-input,
.cel-inputs,
.przebieg-inputs,
.wnioski-inputs {
  height: 200px;
  width: 500px;
}

.big2 {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.submit-btn {
  background: #2f4858;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  color: #b1c37b;
}

.submit {
  display: flex;
  justify-content: center;
}

.greyy {
  color: #555;
}

.greenn {
  color: #3f8a7f;
}
