@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

textarea {
  padding: 1rem;
  border-radius: 2rem;
  font-family: inherit;
}

.cel-inputs,
.przebieg-inputs,
.wnioski-inputs {
  color: #999;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #ffd687;
  height: 100vh;
}

.heading-primary {
  padding-top: 2rem;
  text-align: center;
  color: #3f8a7f;
}
.mode-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.mode-n,
.mode-nn {
  background: #2f4858;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  color: #b1c37b;
}
.question-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instruction {
  display: flex;
  justify-content: center;
  color: #fe8a7d;
  font-size: 1.5rem;
  font-style: italic;
  padding: 1.5rem 2rem;
  text-align: center;
}

.input-style {
  height: 20rem;
  width: 50rem;
}

.boxes-container {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.submit-btn {
  background: #2f4858;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  color: #b1c37b;
}

.submit {
  display: flex;
  justify-content: center;
}

.heading-grey {
  color: #555;
}

.heading-green {
  color: #3f8a7f;
}

@media screen and (max-width: 70em) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 61em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 56em) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 50em) {
  html {
    font-size: 35%;
  }
}
@media screen and (max-width: 40em) {
  html {
    font-size: 45%;
  }
  .big2 {
    flex-direction: column;
    gap: 4rem;
  }
  .submit {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 26em) {
  html {
    font-size: 40%;
  }
  .input-style {
    width: 44rem;
  }
}
